- if (embed? && @announcement.blank? && flash.blank?)
  %h2 Resized Animated GIF

- unless @photo.blank?
  .area.c
    .photo.left
      %a{:target => "_blank", :href => (@use_sendfile ? "#{download_photo_path(@photo)}#{embed_params}" : @photo.photo.url(@use_photo_size))}= image_tag(@photo.photo.url(:icon), :title => @photo.photo_file_name, :alt => @photo.photo_file_name)
    .download.left{:class => "#{(@photo.uploaded? ? 'uploaded' : '')} #{embed? ? 'embed' : ''}"}
      - unless @photo.uploaded?
        - if allow_twitter_oauth?
          %a.button{:href => "#{upload_photo_path(@photo)}#{embed_params}"} Upload to Twitter
          %br
          %span or
          %a.download{:target => "_blank", :href => (@use_sendfile ? "#{download_photo_path(@photo)}#{embed_params}" : @photo.photo.url(@use_photo_size))} download this image
        - else
          %a.button{:target => "_blank", :href => (@use_sendfile ? "#{download_photo_path(@photo)}#{embed_params}" : @photo.photo.url(@use_photo_size))} Download Image
          %br
          %span and upload to Twitter!
      - else
        %strong
          Used by
          %a{:href => "http://twitter.com/#{@photo.user.screen_name}", :target => '_blank'} @#{@photo.user.screen_name}
        %br
        %a.download{:target => "_blank", :href => (@use_sendfile ? "#{download_photo_path(@photo)}#{embed_params}" : @photo.photo.url(@use_photo_size))} download this image
      - if embed?
        %br
        %a.download{:href => "#{new_photo_path}#{embed_params}"} resize another GIF

    - unless embed?
      .again.right
        %h4 Another image?
        %p
          %a{:href => "#{new_photo_path}#{embed_params}"} Resize another animated GIF!

  - if embed?
    = render 'globals/footer'

- else
  %h1 This photo does not exist!
